*{
    padding: 0px;
    margin: 0;;
    box-sizing:border-box;
    
}
:root{ 
    --shadowColor: black;
    --btnToggleBgColor: black;
    --btnToggleColor:white; 
}
body{
    width:100vw;
    height:100vh;
    font-size: 16px;
    font-weight: 300;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 100px var(--shadowColor);
}
button{
    width:150px;
    height:25px;
    margin: 5px 5px;
    background-color: var(--btnToggleBgColor);
    color: var(--btnToggleColor);
    border:none;
    border-radius: 5%;
    transition: background-color 0.1s ease-in;
}
button:hover{
    border: 2px solid  var(--btnToggleBgColor);
    background-color: var(--btnToggleColor);
    color: var(--btnToggleBgColor);
}
h1{
    text-shadow: 1px 1px 2px var(--shadowColor);
}
@media (width< 350px){
    button{
        width:100px;
        height:25px;
    }
}
